<!DOCTYPE html>
<html  lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="styles/main.css">
</head>

<body class="container">
    <nav>
        <div class="nav-wrapper teal darken-2">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="">Patients</a></li>
                <li><a href="">Logout</a></li>
            </ul>
            <a href="#" class="brand-logo left">Medilabo Solutions</a>
        </div>
    </nav>
    <h2 class="teal-text darken-4-text center-align">Patients Dashboard</h2>
    <a class="waves-effect waves-light btn">Add new Patient</a>
    <table class="highlight">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.firstname}"></td>
        <td th:text="${patient.lastname}"></td>
        <th th:text="${patient.birthdate}"></th>
        <th th:text="${patient.gender}"></th>
        <th th:text="${patient.phone_number}"></th>
        <td><i class="material-icons blue-text darken-2-text">edit</i></td>
        <td><i class="material-icons red-text darken-4-text">delete</i></td>
    </tr>
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
