<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>

    <div class="container mt-4 mb-5">
        <h1 class="m-5">Patient Details</h1>
        <div class="card mt-5">
            <div class="card-body">
                <p><strong>First Name:</strong> <span th:text="${patient.firstname}"></span></p>
                <p><strong>Last Name:</strong> <span th:text="${patient.lastname}"></span></p>
                <p><strong>Birthdate:</strong> <span th:text="${#dates.format(patient.birthdate, 'dd/MM/yyyy')}"></span></p>
                <p><strong>Gender:</strong> <span th:text="${patient.gender}"></span></p>
                <div th:if="${patient.address != null and  !#strings.isEmpty(patient.address)}">
                    <p><strong>Address:</strong><span th:text="${patient.address}"></span></p>
                </div>
                <div th:if="${patient.phone_number != null and !#strings.isEmpty(patient.phone_number)}">
                    <p><strong>Phone Number:</strong> <span th:text="${patient.phone_number}"></span></p>
                </div>
            </div>
        </div>

        <h2 class="text-center mt-4">Notes</h2>

        <a class="btn btn-primary mb-3" th:href="@{/patients/{id}/notes/add(id=${patient.id})}">Add new Note</a>

        <div th:if="${#lists.isEmpty(notes)}">
            This Patient has no notes
        </div>
        <div th:unless="${#lists.isEmpty(notes)}" class="card mt-4">
            <div class="card-body" th:each="note, iStat: ${notes}">
                <div>
                    <p><strong>Patient:</strong> <span th:text="${note.patient}"></span></p>
                    <p><strong>Note:</strong> <span th:text="${note.note}"></span></p>
                    <div th:if="${!iStat.last}">
                        <div class="border-top"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</html>
